################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CaptivePortal.Services/packages
/CaptivePortal.Services/CaptivePortal.Services.Tests/obj/Debug
/CaptivePortal.Services/CaptivePortal.Services/bin
/CaptivePortal.Services/CaptivePortal.Services/obj/Debug
